body {
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
    max-width: 1440px;
}
html {
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
     }
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    height: 50px;
}
header {
    padding: 42px 109px 42px 111px;
    width: 1440px;
    height: 134px;
    background: #EDF2EC;
}
.logo {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
}
a.logo {
    margin 0;
    padding: 0;
}
.logo-text {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin: 0;
    padding: 0;
}
.nav {
    
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    margin-right: 46px;
}
.nav-item:last-child {
    margin-right: 0;
}
.price {
    
}
.about {
    
}
.contacts {
    
}
.nav-link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}
.nav-link.home {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #E06733;
}
a.nav-link {

}